
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #E7F6FF;
  h1 , h2, h3 ,h4 {
  margin: 0;
  padding: 0;
}
  p {
    margin: 0;
    padding: 0;
  }
}

* {
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1300px;
  margin: 50px auto;
  box-sizing: border-box;
  padding: 40px 40px;

  header {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 40px;

    .headerLeft {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 16px;
      align-items: center;
    }

    .headerRight {
      display: grid;
      grid-template-columns: auto auto;
      grid-gap: 40px;
      align-items: center;
      text-align: center;
    }

    .headerRight li:nth-of-type(1) {
      cursor: pointer;
    }
  }
   ul {
     list-style-type: none;
   }
}

.content {
  margin-top: 40px;
}

.sneakers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  grid-gap: 40px;
}

.card {
  background: #FFFFFF;
  border: 1px solid #e0e0e0;
  border-radius: 40px;
  width: 210px;
  height: 260px;
  padding: 20px;
  margin-top: 40px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;

  .button-card-plus {
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      opacity: 2;
    }
  }

  .photo-sneakers {
    margin-left: 30px;
  }

  &:hover {
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
    transform: translateY(-5px);
  }

  .favorite {
    position: absolute;
    cursor: pointer;
  }

  //.heart {
  //  margin-bottom: 85px;
  //}


  .name-sneakers {
    margin-top: 14px;
    text-align: center;
  }

  .card-title {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    align-items: center;

    p {
      margin-top: 14px;
      margin-bottom: 5px;
      font-weight: 500;
      font-size: 11px;
      line-height: 13px;
      text-transform: uppercase;

      color: #BDBDBD;
    }
  }

}

.info-content {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
}

.search-block {
  border: 1px solid #F3F3F3;
  border-radius: 10px;
  align-items: center;
  padding: 15px 18px;
  display: flex;

  img {
    margin-right: 10px;
  }

  input {
    border: none;
    outline: none;
    font-size: 16px;

  }
}

.overlay-hidden {

}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.drawer {
  position: absolute;
  width: 420px;
  right: 0;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

  .exit-cart {
    position: absolute;
    top: 20px;
    right: 20px;

    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding: 9px 11px;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
    opacity: 1;
  }

  }

  h2 {
    padding: 32px 30px;
  }

  ul {
    justify-content: space-between;
  }
}

.cartItemContainer {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 30px;

  overflow: auto;
}

.cartItem {
  border: 1px solid #F3F3F3;
  padding: 20px 20px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  max-width: 325px;
  align-items: center;
  margin: 0 30px;

  p {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-right: 10px;
  }

  b {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
  }

  .photo-cart-item {
    margin-right: 15px;
  }

  button {
    background: #FFFFFF;
    border: 1px solid #DBDBDB;
    border-radius: 8px;
    padding: 9px 11px;
    cursor: pointer;
    opacity: 0.4;

    &:hover {
      opacity: 1;
    }
  }
}

.cartTotalBlock {
  justify-content: center;
  li {
    display: flex;
    max-width: 300px;
    margin-bottom: 10px;
  }
  div {
    flex: 1;
  }

}

.btnTotalBlock {
  background: #9DD558;
  border-radius: 18px;
  border: none;
  cursor: pointer;
  padding: 18px;
  text-align: center;
  margin: 0 30px;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;

  color: #FFFFFF;
}

.btnCart {
  cursor: pointer;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }
}
